# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# SQLite database
db.sqlite3

# macOS
.DS_Store

# VSCode and virtual environments
.vscode/
.env/
venv/
.envrc
*.log

# Django migrations cache
*/migrations/__pycache__/
*/migrations/*.pyc
